<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration> 
  <appSettings>
    <add key="sqlserverConnStr" value="Data Source=DELL;Initial Catalog=oil;User ID=sa;Password=123456"/>
    <!--Data Source：服务器名称
    Initial Catalog：数据库名
    User ID：用户名
    Password：密码-->
    <add key="mysqlConnStr" value="server=localhost;uid=root;pwd='';database=test"/>
    <!--server：服务器名称
    uid：用户名
    pwd：密码
    database：数据库名称-->
    <add key="excelConfig" value="Excel 8.0;HDR=no;IMEX=1"/>
    <!-- HDR=Yes，这代表第一行是标题，不做为数据使用，no相反；IMEX ( IMport EXport mode )设置
　　IMEX 有三种模式：
　　0 is Export mode
　　1 is Import mode
　　2 is Linked mode (full update capabilities)
　　我这里特别要说明的就是 IMEX 参数了，因为不同的模式代表著不同的读写行为：
　　当 IMEX=0 时为“汇出模式”，这个模式开启的 Excel 档案只能用来做“写入”用途。
　　当 IMEX=1 时为“汇入模式”，这个模式开启的 Excel 档案只能用来做“读取”用途。
　　当 IMEX=2 时为“连结模式”，这个模式开启的 Excel 档案可同时支援“读取”与“写入”用途。-->
    <add key="fileType" value="xls"/>
    <add key="imgType" value="png|gif"/>
    <add key="template" value="/template/"/>
    <add key="manager_template" value="/cms_manager/template/"/>
    <add key="fenlei_parameter" value="综合含水|综合气油比|吸水指数|平均孔隙半径"/>
    <add key="fenlei_result" value="分类"/>
    <add key="fenlei_result_num" value="5"/>
  </appSettings>

  <system.web>
      <compilation debug="true" targetFramework="4.5.2"/>
      <httpRuntime targetFramework="4.5.2"/>
   </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
